    <h1>{{user.first_name}} {{user.last_name}} to do item details</h1> 

    <h4>task name</h4>
    <p>{{ task_name }}</p>
    <h4>description</h4>
    <p>{{ description }}</p>
    <h4>status</h4>
    <p>{{ status }}</p>

    <span><a href="{% url 'index' %}">Back</a></span>